:root {
  --gren1: #3f7239;
  --gren2: #72cf22;
  --gren3: #062226;
  --white2: #ffffff;
  --grey1: #abb9bb;
}

.container_location {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 70%;
  background-color: var(--gren3);
  height: 126px;
  width: 890px;
  font-family: Roboto;
}

.container_location h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gren2);
}

.container_location ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container_location b {
  color: var(--grey1);
}
.container_location li {
  color: var(--gren1);
}

@media (max-width: 360px) and (max-width: 480px) {
  .container_location h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gren2);
    font-size: 12px;
    margin: 0;
  }
  .container_location b {
    font-size: 10px;
  }
  .container_location li {
    font-size: 10px;
  }

  .container_location ul {
    /* flex-direction: column; */
    justify-content: center;
    flex-wrap: nowrap;
    gap: 5px;
  }
  .container_location {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 100%;
    background-color: var(--gren3);
    height: 50px;
    width: 890px;
    padding: 5px;
    margin: 0px;
  }
}
