main {
  background-color: #084851;
}

header {
  font-size: 16px;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.imgur.com/HEmutie.png"),
    url("https://i.imgur.com/LH3b1Bw.jpg");
  background-repeat: no-repeat;
  background-position: right bottom, center;
  background-size: min(20vw, 200px), cover;
}
header h1 {
  color: RGB(0, 177, 200);
  margin: 0;
  font-size: clamp(1.7rem, 1.043rem + 3.286vw, 4rem);
  font-family: "Get Schwifty";
  text-shadow: 1px 1px black, -1px -1px black, 3px 3px 1px RGB(179, 225, 121),
    -3px -3px 1px RGB(179, 225, 121), 6px 6px 5px RGB(250, 248, 234),
    -6px -6px 5px RGB(250, 248, 234);
}

.intro {
  color: RGB(189, 196, 190);
  font-family: roboto;
  width: min(90%, 1024px);
  padding: 0 20px;
  margin: auto;
}
.intro h2 {
  text-shadow: 2px 2px 5px RGB(123, 214, 34), -2px -2px 5px RGB(123, 214, 34);
  text-align: center;
}

.constainer_location {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.container_form {
  display: flex;
  justify-content: center;
}

.container_pagination {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
}
.container_residents {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  gap: 1rem;
}

@media (max-width: 480px) {
  header {
    height: 93px;
  }

  .constainer_location {
    margin: 10px 0;
  }

  .container_residents p {
    font-family: Roboto;
    color: #abb9bb;
    font-size: 12px;
    justify-content: center;
  }
  .container_residents {
    gap: 1px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  header {
    height: 150px;
  }
}
