body {
  margin: 0;
  padding: 0;
  background-color: #084851;
  min-width: 320px;
  min-height: 100vh;
}

@font-face {
  font-family: "Get Schwifty";
  src: url("./assets/fonts/get_schwifty.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
}
