.container_residentCard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  gap: 1rem;
  background-color: #084851;
  padding: 40px;
}

.container_residentCard li {
  list-style: none;
}
@media (max-width: 360px) and (max-width: 480px) {
  .container_residentCard {
    padding: 5px;
    gap: 10px;
    grid-template-columns: 50% 50%;
  }
}
